*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(245deg,#3e86eb 0%,#add2f2 100%);
}
/* .light{
    position: absolute;
    width: 47px;
    height: 53px;
    left: 216px;
    top: 188px;
    background-color: rgba(255, 183, 88, 0.461);
    box-shadow: -11px 13px 23px 3px rgba(231, 208, 73, 0.49), 1px 14px 23px -5px rgba(231, 208, 73, 0.49) inset;
    z-index: 1000;
} */
.house{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    /* filter: drop-shadow(10px 10px 25px #0000003e) brightness(0.4); */
}
.house .first{
   position: relative;
}
.house .first .firstfloor{
    position: relative;
    width: 500px;
    height: 120px;
    background: #eee;
    left: 50%;
    transform: translate(-50%);
}
.house .first .main{
    position: absolute;
    width: 200px;
    height: 120px;
    background: rgb(255, 255, 255);
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}
.house .first .main::before{
    content: '';
    position: absolute;
    top: -60px;
    left: 2.5%;
    width: 60%;
    height: 60px;
    background: #d8b280;
    transform: skewX(320deg);
}
.house .first .main::after{
    content: '';
    position: absolute;
    top: -60px;
    right: 2.5%;
    width: 60%;
    height: 60px;
    background: #d8b280;
    transform: skewX(40deg);
}

.house .first .leftside{
    position: absolute;
    width: 150px;
    height: 120px;
    background: rgb(255, 255, 255);
    top: 55px;
    left: -1%;
    z-index: 100;
}
.house .first .leftside::before{
    content: '';
    position: absolute;
    top: -55px;
    left: 0%;
    width: 60%;
    height: 55px;
    background: #d8b280;
    transform: skewX(330deg);
}
.house .first .leftside::after{
    content: '';
    position: absolute;
    top: -55px;
    right: 9%;
    width: 60%;
    height: 55px;
    background: #d8b280;
    transform: skewX(45deg);
}
.house .first .rightside{
    position: absolute;
    width: 150px;
    height: 120px;
    background: rgb(255, 255, 255);
    top: 55px;
    right: -11%;
    transform: translate(-50%);
    z-index: 100;
}
.house .first .rightside::before{
    content: '';
    position: absolute;
    top: -55px;
    left: 9%;
    width: 60%;
    height: 55px;
    background: #d8b280;
    transform: skewX(315deg);
}
.house .first .rightside::after{
    content: '';
    position: absolute;
    top: -55px;
    right: 0%;
    width: 60%;
    height: 55px;
    background: #d8b280;
    transform: skewX(30deg);
}

.house .firstroof{
    position: relative;
    width: 500px;
    height: 50px;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    background: #D7B890;
}




.house .secondfloor{
    position: relative;
    left: 1%;
    width: 680px;
    height: 90px;
    background: #eee;
}
.house .secondroof{
    position: relative;
    width: 700px;
    height: 60px;
    top: 0vh;
    
}
.house .secondroof:before{
    content: '';
    position: absolute;
    top: 0;
    left: 6%;
    width: 60%;
    height: 100%;
    background: #D7B890;
    transform: skewX(295deg);
    background-image: linear-gradient(to bottom,transparent 40%, rgb(26, 26, 0) 40%,#2D0A04 50%,transparent 65%,transparent );
    background-size: 100% 7%;
    box-shadow: inset 9px 3px 0px #7E7977, 
                inset 0px -1px 0px black,
                6.5px 3px 0px #fff;      
    border-radius: 10px;
    z-index: 100;
}
.house .secondroof:after{
    content: '';
    position: absolute;
    top: 0;
    right: 6%;
    width: 55%;
    height: 100%;
    background: #D7B890;
    transform: skewX(65deg);
    background-image:linear-gradient(to bottom,transparent 40%, rgb(26, 26, 0) 40%,#2D0A04 50%,transparent 65%,transparent );
    background-size: 100% 7%;
    box-shadow: inset -9px 3px 0px #7E7977, 
                inset -5px -1px 0px black,
                0.7px 3px 0 white;
    border-radius: 10px;
    z-index: 100;
}

.house .secondfloor .front{
    position: absolute;
    width: 120px;
    height: 90px;
    background-color: #f7d7b7;
    z-index: 150;
    left: 14%;
}

.house .secondfloor .front.front1{
    left: auto;
    right: 5%;
    transform: translateX(-50%);
}
.house .secondfloor .front:before{
    content: '';
    position: absolute;
    width: 74px;
    height: 66px;
    top: -38px;
    left: 21px;
    background-color: #f7d7b7;
    transform: rotate(31deg) skew(-29deg);
    border-top: #2c2c2c 5px solid;
    border-left: #2c2c2c 5px solid;
    box-shadow: inset 5px 5px 0px #fff;
}

.house .secondfloor .front > .window{
    position: absolute;
    width: 65px;
    height: 75px;
    background-color: #999;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    border-radius: 50% 50% 3% 3% / 10% 10% 3% 3%;
    border: 10px solid #e78f37;
    box-shadow: inset 3px 3px 8px #0000004d, 5px 3px 4px rgba(0, 0, 0, 0.13);
}
.house .secondfloor .front > .window::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 91%;
    height: 91%;
    border: #eee 3px solid;
    border-radius: 3px;
    background-image: linear-gradient(to right,transparent 49%, rgba(255, 255, 255, 0.8) 49%, rgba(255, 255, 255, 0.8) 52%, transparent 52%),
    linear-gradient(to top,transparent 40%, #ffffff 45%, rgb(255, 255, 255) 55%, transparent 53%);


}
.house .secondfloor > .window{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 48px;
    transform: translate(-50%,-50%);
    background-color: #ccc;
    border: #e78f37 10px solid;
    border-radius:3px;
    box-shadow: inset 3px 3px 8px #0000004d, 5px 3px 4px rgba(0, 0, 0, 0.13);
}
.house .secondfloor .window.window2{
    left: initial;
    right: 1px;
}
.house .secondfloor >.window::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 91%;
    height: 91%;
    border: ivory 2px solid;
    border-radius: 3px;
    background-image: linear-gradient(to right,transparent 48%, rgb(255, 255, 255) 48%, rgb(255, 255, 255) 52%, transparent 53%),
    linear-gradient(to top,transparent 47%, rgb(255, 255, 255) 47%, rgb(255, 255, 255) 53%, transparent 53%);
}
.house .secondfloor >.bigwindow{
    position: absolute;
    top: 50%;
    left: 39%;
    width: 70px;
    height: 55px;
    transform: translate(-50%,-50%);
    border-radius: 50% / 15%;
    background-color: #bbb;
    border: #e78f37 10px solid;
    box-shadow: inset 3px 3px 8px #0000004d, 5px 3px 4px rgba(0, 0, 0, 0.13);
}
.house .secondfloor .bigwindow1{
    left: 61%;
}
.house .secondfloor > .bigwindow::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 90%;
    height: 90%;
    border: ivory 3px solid;
    border-radius: 3px;
    background-image: linear-gradient(to right,transparent 48%, rgb(255, 255, 255) 48%, rgb(255, 255, 255) 52%, transparent 54%);
}



.house .secondfloor .chimney{
    position: absolute;
    width: 50px;
    height: 180px;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    background: #f5e6d6;
    z-index: 150;
}
.house .chimney{
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 350px;
    bottom: 0px;
    left: -1%;
    transform: translateX(-50%);
    background: #f5e6d6;
    z-index: -2;
}
.house .chimney::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    left: -14%;
    border-top: 20px solid #5A4C3E;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.house .chimney::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 13px;
    top: -10.5px;
    border-radius:50% 50% 0 0;
    box-shadow: 35px 0px 0px #FFECC9;
    background-color: #FFECC9;
    transform: scaleY(0.6);
}
.house .chimney.right{
    left: auto;
    right: -7%;
    z-index: -5;
}
